body{font-family: Tahoma;}


header {display: flex;  
    justify-content: flex-end;
    margin: 50px 100px;
}

h1{font-size: 40px;}

p{
    margin: 35px 0px ;
}
.home {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.button {
    background-color: #d8e4ef;
    margin: 2px 5px;
    padding: 8px 15px;
    text-align: center;
}

.button:hover 
{background-color: #396ee1;
color: white;
}

.chatbutton {
    background-color: #d8e4ef;
    text-align: center;
    margin: 20px 0px;
    padding: 14px 25px;
    width: 150px;
}

#profile {
width: 35%;
margin: 30px 100px;
}

#pic {
    text-align: center;
    height: 300px;
    margin: 0px 100px;
}
